<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
  {{!-- <script src="particles.js" type="text"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" type="text/javascript/handlebars"></script>
</head>

<body>
  {{{body}}}
  <script>
    particlesJS.load('particles-js', '/../../public/js/particles.json', function () {
    console.log('callback - particles-js config loaded');
  });
  </script>
  <script src="../../public/js/app.js" type="text/javascript/handlebars"></script> 
</body>

</html>
