html {
  height: 100%;
  /* background-color: #000; */
}


#map {
  width: 500px;
  height: 500px;
}

body {
  background-image: url("../images/AstroSelfie1.png");
  background-size: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.login-link {
  color: black;
}
.p-login-link {
  font-family: 'Orbitron', sans-serif;
}

.log-out-link {
  margin-top: 10%;
  color: rgb(45, 71, 88);
}

.card {
  border-radius: 0;
  background:linear-gradient( 222deg, rgba(142, 158, 171, .8), rgba(238, 242, 243, .8));
  border: none;
  margin-top: 40%; 
  height: 15em;
  padding-top: 5%;
  margin-bottom: 5%;
}

.btn-light {
  border: none;
}

.btn:hover {
  background: linear-gradient( 222deg, #16222A, #3A6073);
  border: none;
  color: white;
}


header {
  font-family: 'Orbitron', sans-serif;
  /* background-image: url("../images/AstroSelfie1.png"); */
  /* background-size: 100%; */
  /* cursor: grab; */
  height: 95vh;
}
.header-text {
  /* line-height: 1.3em; */
  font-size: 2em;
  font-weight: 800;
}
.header-section {
  position: static;
  z-index: 100;
}
.header-wrapper {
  cursor: default;
  position: absolute;
  width: 50%;
  /* height: 65%; */
  margin-left: 25%;
  color: #fff;
}
#particles-js {
  cursor: grab;
}

.groupies {
  font-family: 'Orbitron', sans-serif;
  /* margin-top:2%; */
  margin-left: 60%;
}
a:hover, strong:hover {
  text-decoration: none;
  color: #6cd829;
}

#home { 
  background: url(../images/A&ARacingDark.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#notfound { 
  /* background: rgb(17, 17, 17); */
  background: url(../images/astronaut-space-drawing-artwork-monochrome-planet-1618153-wallhere.com.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  height: 30rem;
}

#error {
  background-image: radial-gradient(rgba(190, 225, 247, 0.742), rgba(194, 204, 220, 0.797), rgba(106, 132, 164, 0.311), rgba(181,194,226,.0), rgba(163,194,229,.0));
  padding: 12rem;
  /* margin-top: 3rem; */
}

h2 , h4 {
  font-size: 5rem;
}

.credit {
  color: #16222A;
}

@media only screen and (max-width: 991px) {
  .card {
    margin-top: 7%;
  }
  .groupies {
    font-size: .9em;
    margin-left: 50%;
  }
}


@media only screen and (max-width: 600px) {
  /* html{
    background-color: black;
  } */
  #home {
    background:linear-gradient( 160deg,#434343, #000000 );
    background-size: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h4 {
    font-size: 3rem;
  }

  h2{
    font-size: 1.8rem;
  }

  #error {
    /* margin-top:60%; */
    padding: 7rem;
  }

  .p-login-link, .groupies {
    padding-top: 3%;
    margin-left: 3%;
    text-align: center;
    font-size: .7rem;
    /* margin-bottom: 10%; */
  }

  .card1 {
    margin-top: 3.5%;
  }

  /* .card {
    margin-top: 5%;
  } */

  .log-out-link {
    margin-top: 1%;
  }
}